<!-- <h1 class="text-3xl font-bold underline">Hello world!</h1>
<div class="card flex justify-center">
  <p-button label="Check" />
</div>
<div class="flex justify-center pt-10 gap-4">
  <i class="pi pi-check"></i>
  <i class="pi pi-times"></i>
  <span class="pi pi-search"></span>
  <span class="pi pi-user"></span>
</div>
<div class="flex justify-center pt-10 gap-4">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
</div>
<div class="card flex justify-center pt-10">
  <p-menu [model]="items" />
</div> -->
<app-header/>

<div class="min-h-dvh flex justify-center items-center flex-col gap-3">
  <p class="text-6xl font-bold">Carzone Test Frontend Project</p>
  <p class="text-2xl text-center w-5xl">This is test project to configure, explore and practise angular, tailwind css, primeNg (with tailwind css), prime icons and much more</p>
</div>
